<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douyin.Dao.UserMapper">

    <sql id="insertFields">
        
    </sql>
    
    <sql id="selectFields">
        id, name , username, password,follow_count,follower_count
    </sql>
    <select id="selectByName" resultType="com.douyin.entity.User">
        select <include refid="selectFields"></include>
        from user
        where username = #{username}
    </select>
</mapper>
